.footer-container {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
  }
  /* ... tus estilos existentes ... */

/* Estilos adicionales para mejorar el diseño del formulario */
.contacto-container form {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  
  .textarea-control {
    resize: vertical; /* Permite redimensionar solo verticalmente en el textarea */
  }
  
  /* Estilos para el botón de enviar */
  .btn-primary {
    background-color: #007bff;
    border: 1px solid #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border: 1px solid #0056b3;
  }
  